<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseUrl" value="https://localhost:7152" />
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="adarecsolutions@gmail.com" />
    <add key="smtpPass" value="PisipAG2" />
    <add key="smtpFrom" value="adarecsolutions@gmail.com" />
  </appSettings>
</configuration>